footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;

  .footer-nav {
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
  }

  a {
    color: black;
  }
}

.powered-by {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding-bottom: 0px;

  a {
    border-bottom: 1px solid #dcdfe4;
  }
}
